In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('file.csv', sep = ";")
df

                                    Items  Year    Cases      Region
0               Registered with diagnosis  2003   1664.0  Osh oblast
1     Alcoholophilia and alcohol psyhosis  2003   1338.0  Osh oblast
2                          Drug addiction  2003    326.0  Osh oblast
3                             Toxicomania  2003      NaN  Osh oblast
4               Registered with diagnosis  2004   1773.0  Osh oblast
..                                    ...   ...      ...         ...
875                           Toxicomania  2023   3477.0  kyrgyzstan
876             Registered with diagnosis  2024  35780.0  kyrgyzstan
877   Alcoholophilia and alcohol psyhosis  2024  28863.0  kyrgyzstan
878                        Drug addiction  2024   3477.0  kyrgyzstan
879                           Toxicomania  2024   3477.0  kyrgyzstan

[880 rows x 4 columns]

In [4]:
df.isnull().sum()

Items       0
Year        0
Cases     173
Region      0
dtype: int64

In [8]:
import pandas as pd
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split

df['Cases'] = df['Cases'].fillna(df['Cases'].mean())  

train_data = df[df['Cases'].notnull()]
test_data = df[df['Cases'].isnull()]

train_data = pd.get_dummies(train_data, columns=['Items', 'Region'])
test_data = pd.get_dummies(test_data, columns=['Items', 'Region'])

print("Размер данных для обучения:", train_data.shape)
print("Размер данных для тестирования:", test_data.shape)

X_train = train_data.drop(columns=['Cases', 'Year'])  
y_train = train_data['Cases']  
model = RandomForestRegressor(n_estimators=100, random_state=42)
model.fit(X_train, y_train)

X_test = test_data.drop(columns=['Cases', 'Year'])

X_test = X_test.reindex(columns=X_train.columns, fill_value=0)  

if X_test.shape[0] > 0:
     predictions = model.predict(X_test)

     df.loc[df['Cases'].isnull(), 'Cases'] = predictions

     print(df)
else:
    print("Тестовые данные пусты, проверьте обработку данных.")

Размер данных для обучения: (880, 16)
Размер данных для тестирования: (0, 2)
Тестовые данные пусты, проверьте обработку данных.

In [9]:
df

                                    Items  Year         Cases      Region
0               Registered with diagnosis  2003   1664.000000  Osh oblast
1     Alcoholophilia and alcohol psyhosis  2003   1338.000000  Osh oblast
2                          Drug addiction  2003    326.000000  Osh oblast
3                             Toxicomania  2003   5310.117397  Osh oblast
4               Registered with diagnosis  2004   1773.000000  Osh oblast
..                                    ...   ...           ...         ...
875                           Toxicomania  2023   3477.000000  kyrgyzstan
876             Registered with diagnosis  2024  35780.000000  kyrgyzstan
877   Alcoholophilia and alcohol psyhosis  2024  28863.000000  kyrgyzstan
878                        Drug addiction  2024   3477.000000  kyrgyzstan
879                           Toxicomania  2024   3477.000000  kyrgyzstan

[880 rows x 4 columns]

In [10]:
df.isnull().sum()

Items     0
Year      0
Cases     0
Region    0
dtype: int64